n8n_workflow.json
{
  "name": "whatsapp agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/inbound",
        "options": {}
      },
      "id": "webhook_node",
      "name": "Webhook Trigger",
      "position": [
        112,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "89a113d5-2af5-490e-9cf9-89f9a44601c5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.chat_sessions (telefono, estado) VALUES ('{{ $json.body.payload ? $json.body.payload.from : $json.body.from }}', 'automatico') ON CONFLICT (telefono) DO UPDATE SET updated_at = NOW() RETURNING estado, telefono;",
        "additionalFields": {}
      },
      "id": "postgres_session_node",
      "name": "Check Chat Session",
      "position": [
        352,
        304
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "1dtm0jLulZEFrKtB",
          "name": "Supabase Readonly"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_manual",
              "leftValue": "={{ $json.estado }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "manual"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "id": "if_manual_node",
      "name": "Is Manual Handover?",
      "position": [
        608,
        304
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Trigger').first().json.body.payload.body }}",
        "options": {
          "systemMessage": "Actúas como Perucho, el experto ferretero y asesor comercial de Ferretería El Serrucho. Tu tienda física está ubicada en Mene Mauroa, Estado Falcón.\n\nTus horarios de atención son de lunes a sábado de 08:00 AM a 06:00 PM, con descanso para el almuerzo de 01:00 PM a 02:00 PM. Fuera de este horario debes indicar al cliente amablemente que está fuera del horario comercial.\n\nNo contamos con sistemas de envío a domicilio. Todos los pedidos deben ser retirados directamente en la tienda en Mene Mauroa.\n\nMétodos de pago aceptados:\n- Pago Móvil (a tasa oficial BCV)\n- Efectivo (en USD o bolívares)\n- Transferencia Bancaria\n- Zelle (para compras mayores a $20.00 USD)\n\nPolíticas de devolución:\n- Se admiten devoluciones hasta un plazo máximo de 7 días, siempre y cuando el artículo se presente cerrado en su empaque original, sin marcas de uso y con su factura original de compra.\n\nTu objetivo único es resolver dudas sobre el catálogo de productos y precios utilizando tus herramientas. Debes reportar precios exactamente en dólares estadounidenses (USD) usando el formato '$[precio_venta] USD' y la existencia exacta en stock de la base de datos (existencia). Si el cliente lo solicita, puedes obtener la tasa de cambio del BCV para indicarle el precio equivalente en Bolívares.\n\nTienes estrictamente prohibido aplicar o calcular cualquier tipo de impuesto o IVA (16%), ni alterar los precios recuperados. Entrega la información tal cual la base de datos la reporta.\n\nTampoco respondas a preguntas ajenas a la ferretería, como cultura general, entretenimiento, programación, etc.\n\nMEMORIA A LARGO PLAZO (Engram):\n- Al comenzar cada conversación, DEBES usar la herramienta buscar_memoria_engram buscando el número de teléfono del cliente para saber si ya lo has atendido antes.\n- Si el cliente te da un dato clave durante la charla, guardalo INMEDIATAMENTE usando la herramienta guardar_memoria_engram.\n- Si un cliente te pregunta por un producto que no tiene existencia o no está en el catálogo, usa buscar_memoria_engram para buscar alternativas sugeridas.\n\nSi no encuentras el producto en la base de datos tras buscarlo, o si el cliente tiene un problema complejo o solicita explícitamente hablar con una persona, responde exactamente con la palabra clave: [ESCALAR_HUMANO].\n\n═══ FORMATO DE RESPUESTA EN WHATSAPP (OBLIGATORIO) ═══\nWhatsApp NO renderiza Markdown. Sigue estas reglas SIEMPRE:\n- PROHIBIDO usar tablas Markdown (nada de |---|---| ni columnas).\n- Negrita = UN solo asterisco: *así*. NUNCA dobles asteriscos (**así** se ve mal).\n- Cursiva = _así_. Tachado = ~así~.\n- Para listar productos usa una línea por producto con este patrón:\n  🔧 *NOMBRE DEL PRODUCTO* — $PRECIO USD · Stock: N\n  (si está agotado, escribe \"agotado\" en vez del número)\n- Sé breve y cálido. Muestra como máximo 4 o 5 productos por respuesta; si hay más, ofrece afinar la búsqueda.\n- No muestres el código interno salvo que el cliente lo pida.\n- Usa emojis con moderación (ferretería: 🔧🔩🪚🧰🛠️).\n- Reporta SIEMPRE el precio tal cual viene de la base de datos como '$[precio] USD'. Si existencia es 0 o el producto no está disponible, dilo claramente y, si puedes, ofrece una alternativa que sí tenga stock."
        }
      },
      "id": "ai_agent_node",
      "name": "AI Agent",
      "position": [
        864,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openrouter_model_node",
      "name": "OpenRouter Chat Model",
      "position": [
        784,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "4tgq95GQzWAS8kMd",
          "name": "OpenRouter (free)"
        }
      }
    },
    {
      "id": "postgres_memory_node",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        592
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Trigger').first().json.body.payload.from }}",
        "contextWindowLength": 10
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_escalar",
              "leftValue": "={{ $json.output }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "[ESCALAR_HUMANO]"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "if_escalar_node",
      "name": "Check Escalation",
      "position": [
        1264,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.chat_sessions SET estado = 'manual', updated_at = NOW() WHERE telefono = '{{ $('Webhook Trigger').first().json.body.payload.from }}';",
        "additionalFields": {}
      },
      "id": "postgres_set_manual_node",
      "name": "Set Chat Manual",
      "position": [
        1456,
        256
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "1dtm0jLulZEFrKtB",
          "name": "Supabase Readonly"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha_serrucho:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REDACTED_WAHA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session: 'default', chatId: $('Webhook Trigger').first().json.body.payload.from, text: 'En un momento uno de nuestros asesores comerciales continuará atendiéndote de forma personalizada. ¡Muchas gracias por tu paciencia!' }) }}",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "id": "waha_handover_node",
      "name": "Send Handover Message",
      "position": [
        1664,
        256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha_serrucho:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REDACTED_WAHA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session: 'default', chatId: $('Webhook Trigger').first().json.body.payload.from, text: ($json.output || '').replace(/\\*\\*/g, '*').trim() }) }}",
        "options": {}
      },
      "id": "waha_agent_node",
      "name": "Send Agent Response",
      "position": [
        1456,
        464
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "manual_handover_noop",
      "name": "Manual Handover Active",
      "position": [
        864,
        208
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "http_tool_node",
      "name": "buscar_productos_tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1072,
        592
      ],
      "parameters": {
        "name": "buscar_productos",
        "description": "Busca productos de ferretería en la base de datos por nombre, descripción o similitud. Retorna una lista de productos con su código_interno, descripción, precio_venta en dólares y existencia.",
        "language": "javaScript",
        "jsCode": "// Busca productos por nombre/descripcion. Limpia el resultado para evitar alucinaciones.\nconst axios = require('axios');\nconst { p_busqueda } = query;\nconst url = 'https://rgniqjfooifchyctnbzu.supabase.co/rest/v1/rpc/buscar_productos';\nconst resp = await axios.post(url, { p_busqueda }, {\n  headers: { 'apikey': 'REDACTED_SUPABASE_ANON_KEY', 'Authorization': 'Bearer REDACTED_SUPABASE_ANON_KEY', 'Content-Type': 'application/json' }\n});\nconst productos = (resp.data || []).map(p => {\n  const stock = Number(p.existencia);\n  return {\n    codigo: p.codigo_interno,\n    nombre: p.descripcion,\n    precio_usd: Number(p.precio_venta),\n    existencia: stock > 0 ? stock : 0,\n    disponible: stock > 0\n  };\n});\nif (productos.length === 0) return 'No se encontraron productos para: ' + p_busqueda;\nreturn JSON.stringify(productos);",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"p_busqueda\": \"martillo\"\n}",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"p_busqueda\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre o descripción del producto a buscar\"\n    }\n  },\n  \"required\": [\n    \"p_busqueda\"\n  ]\n}"
      }
    },
    {
      "id": "tasa_tool_node",
      "name": "obtener_tasa_bcv_tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1072,
        704
      ],
      "parameters": {
        "name": "obtener_tasa_bcv",
        "description": "Obtiene la tasa de cambio oficial del BCV (Bolívares por Dólar) actual. No requiere parámetros de entrada. Retorna la tasa bcv_usd.",
        "language": "javaScript",
        "jsCode": "// Obtiene la tasa oficial BCV (Bs por USD).\nconst axios = require('axios');\nconst url = 'https://rgniqjfooifchyctnbzu.supabase.co/rest/v1/tazas?nombre=eq.actual&select=bcv_usd';\nconst resp = await axios.get(url, {\n  headers: { 'apikey': 'REDACTED_SUPABASE_ANON_KEY', 'Authorization': 'Bearer REDACTED_SUPABASE_ANON_KEY' }\n});\nconst tasa = resp.data && resp.data[0] && resp.data[0].bcv_usd;\nreturn JSON.stringify({ bcv_usd: tasa });",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{}",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {}\n}"
      }
    },
    {
      "id": "buscar_memoria_engram_tool",
      "name": "buscar_memoria_engram_tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1072,
        832
      ],
      "parameters": {
        "name": "buscar_memoria_engram",
        "description": "Busca en la memoria a largo plazo (Engram) información relevante del cliente actual (como preferencias de compra, RIF, dirección, métodos de pago comunes) o notas y alternativas sobre productos para optimizar la atención.",
        "language": "javaScript",
        "jsCode": "// Busca en la memoria a largo plazo (Engram).\nconst axios = require('axios');\nconst { q } = query;\nconst url = 'http://host.docker.internal:7437/search?q=' + encodeURIComponent(q) + '&project=whatsapp-agent&scope=project&limit=5';\ntry {\n  const resp = await axios.get(url);\n  return JSON.stringify(resp.data);\n} catch (e) {\n  return JSON.stringify({ resultados: [], nota: 'memoria no disponible' });\n}",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"q\": \"584129999999\"\n}",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"q\": {\n      \"type\": \"string\",\n      \"description\": \"Término de búsqueda (número de teléfono del cliente, nombre de producto, etc.)\"\n    }\n  },\n  \"required\": [\n    \"q\"\n  ]\n}"
      }
    },
    {
      "id": "guardar_memoria_engram_tool",
      "name": "guardar_memoria_engram_tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1072,
        944
      ],
      "parameters": {
        "name": "guardar_memoria_engram",
        "description": "Guarda o actualiza un dato clave, preferencia o nota del cliente o producto en la memoria a largo plazo (Engram) para que esté disponible en futuras conversaciones.",
        "language": "javaScript",
        "jsCode": "// Guarda un dato del cliente/producto en la memoria a largo plazo (Engram).\nconst axios = require('axios');\nconst { session_id, type, title, content, topic_key } = query;\ntry {\n  await axios.post('http://host.docker.internal:7437/sessions', { id: session_id, project: 'whatsapp-agent', scope: 'project' });\n} catch (e) { /* sesion ya existe */ }\ntry {\n  const resp = await axios.post('http://host.docker.internal:7437/observations', {\n    session_id, project: 'whatsapp-agent', scope: 'project', type, title, content, topic_key\n  }, { headers: { 'Content-Type': 'application/json' } });\n  return JSON.stringify({ guardado: true, id: resp.data && resp.data.id });\n} catch (e) {\n  return JSON.stringify({ guardado: false, error: String(e.message) });\n}",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"session_id\": \"584129999999\",\n  \"type\": \"preference\",\n  \"title\": \"Método de pago\",\n  \"content\": \"Pago Móvil\",\n  \"topic_key\": \"cliente:584129999999\"\n}",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"session_id\": {\n      \"type\": \"string\",\n      \"description\": \"Identificador único de la sesión (número de teléfono del cliente)\"\n    },\n    \"type\": {\n      \"type\": \"string\",\n      \"description\": \"Tipo de memoria (preference, decision, bugfix, architecture, learning, etc.)\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Título corto y descriptivo de la memoria\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"Contenido detallado de la memoria (preferencias, notas, datos del cliente)\"\n    },\n    \"topic_key\": {\n      \"type\": \"string\",\n      \"description\": \"Clave temática para agrupar memorias relacionadas (ej. cliente:584129999999, producto:martillo)\"\n    }\n  },\n  \"required\": [\n    \"session_id\",\n    \"type\",\n    \"title\",\n    \"content\",\n    \"topic_key\"\n  ]\n}"
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Escalation",
            "type": "main"
          }
        ]
      ]
    },
    "Check Chat Session": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Manual Handover?",
            "type": "main"
          }
        ]
      ]
    },
    "Check Escalation": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Chat Manual",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send Agent Response",
            "type": "main"
          }
        ]
      ]
    },
    "Is Manual Handover?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Manual Handover Active",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Set Chat Manual": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Handover Message",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Chat Session",
            "type": "main"
          }
        ]
      ]
    },
    "buscar_productos_tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "obtener_tasa_bcv_tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "buscar_memoria_engram_tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "guardar_memoria_engram_tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}